<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:600,800&display=swap" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='img/logo1.svg') }}" style="width: 30px;height: 30px"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/home/{{ session }}">Home<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Patients
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/ask_patient/{{ session }}">Patient Info</a>
							<a class="dropdown-item" href="/patient_record/{{ session }}">Patient Records</a>
						<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/add_patient/{{ session }}">Add patient record</a>
						</div>
					</li>

					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Departments
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							{% for i in dept %}
								<a class="dropdown-item" href="/department/{{ i[0] }}/{{ session }}">{{ i[1] }}</a>
							{% endfor %}
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Appointments
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/appointment/{{ session }}">Appointment records</a>
						<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/add_appointment/{{ session }}">Add appointment record</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Hospitalization
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/hospitalization/{{ session }}">Hospitalization records</a>
						<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/add_hospitalization/{{ session }}">Add hospitalization record</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Medication
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/medications/{{ session }}">Medicine Index</a>
						<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/add_medication/{{ session }}">Add medication</a>
							<a class="dropdown-item" href="/add_prescription/{{ session }}">Add prescription</a>
						</div>
					</li>

				</ul>
		  </div>
		</nav>

	     <div class="container">
		  <div class="row">
		    <div class="col-sm-3 left">
		      <h1>UG Clinic</h1>
		      <h5>{{ dept[0][1] }}</h5>
		      <h6>{{ dept[0][0] }}</h6>
		    </div>
		    <div class="col-sm-8 left">
		      <div class="table-responsive">
					<table class="table table-bordered">
					  <thead class="thead-dark">
					    <tr>
					      <th scope="col">ID</th>
					      <th scope="col">Title</th>
					      <th scope="col">First Name</th>
					      <th scope="col">Last Name</th>
						</tr>
					  </thead>
					  <tbody>
					  	{% for i in staff %}
						    <tr>
						      <th scope="row"><a href="/staff/{{ i[0] }}/{{ session }}">{{ i[0] }}</a></th>
						      <td>{{ i[4] }}</td>
						      <td>{{ i[1] }}</td>
						      <td>{{ i[2] }}</td>
						    </tr>
						{% endfor %}
					  </tbody>
					</table>
				</div>
		    </div>
		  </div>
			<button class="btn btn-success" onclick="openForm()">Add staff to department</button>
			<form method="post" id="myForm" class="animate" enctype="multipart/form-data">
				<h1>Add Staff to department</h1>
				<div class="form-row">
				  	<div class="form-group">
				  		<div class="formitem">
				  			<label>First Name</label>
				      		<input type="text" class="form-control" name='f_name' required>
				  		</div>
				  		<div class="formitem">
				  			<label>Last Name</label>
				      		<input type="text" class="form-control" name="l_name" required>
				  		</div>
				  		<div class="formitem">
				  			<label class="my-1 mr-2" for="inlineFormCustomSelectPref">Title</label>
								<select name="title">
							    	<option selected>Choose a title</option>
							    	<option value="Dr.">Dr.</option>
							    	<option value="Nurse">Nurse</option>
							  	</select>
				  		</div>
				  		<div class="formitem">
				  			<div class="custom-file">
								<input type="file" class="custom-file-input" id="validatedCustomFile" required accept='image/*' name="img" >
								<label class="custom-file-label" for="validatedCustomFile">Choose passport image...</label>
								<div class="invalid-feedback">Invalid file type, make sure you choose an image</div>
							</div>
				  		</div>
				  		<div class="formitem">
					  		<button type="submit" class="btn btn-primary" style="margin-top: 10px;margin-bottom: 10px;">Add record</button>
				  			<button onclick="closeForm()" class="btn btn-danger" style="margin-top: 10px;margin-bottom: 10px;">Cancel</button>
				  		</div>
				  	</div>
			  	</div>
			</div>
			</div>


			</form>
			{% if msg == 'success' %}
				<div class="alert alert-success" role="alert">
				  Added staff Successfully!
				</div>
			{% elif msg == 'error' %}
				<div class="alert alert-danger" role="alert">
				  Encountered an error, please try again
				</div>
			{% elif msg == 'auth' %}
				<div class="alert alert-danger" role="alert">
				  You do not have authorization to add staff
				</div>
			{% endif %}
		</div>
		<script type="text/javascript">
			// document.getElementById('myForm') = "none";
			function openForm() {
			  document.getElementById("myForm").style.display = "block";
			}

			function closeForm() {
			  document.getElementById("myForm").style.display = "none";
			}
		</script>
	</body>
</html>
