<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:600,800&display=swap" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='img/logo1.svg') }}" style="width: 30px;height: 30px"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/home/{{ session }}">Home<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Patients
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/ask_patient/{{ session }}">Patient Info</a>
							<a class="dropdown-item" href="/patient_record/{{ session }}">Patient Records</a>
						<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/add_patient/{{ session }}">Add patient record</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Departments
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							{% for i in dept %}
								<a class="dropdown-item" href="/department/{{ i[0] }}/{{ session }}">{{ i[1] }}</a>
							{% endfor %}
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Appointments
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/appointment/{{ session }}">Appointment records</a>
						<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/add_appointment/{{ session }}">Add appointment record</a>
						</div>
					</li>

					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Hospitalization
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item active" href="/hospitalization/{{ session }}">Hospitalization records</a>
						<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/add_hospitalization/{{ session }}">Add hospitalization record</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Medication
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/medications/{{ session }}">Medicine Index</a>
						<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/add_medication/{{ session }}">Add medication</a>
							<a class="dropdown-item" href="/add_prescription/{{ session }}">Add prescription</a>
						</div>
					</li>

				</ul>
		  </div>
		</nav>

	    <div class="table-responsive">
			<table class="table table-bordered">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Ward</th>
			      <th scope="col">Bed</th>
			      <th scope="col">Date In</th>
			      <th scope="col">Date out</th>
			      <th scope="col">Patient</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for i in info %}
				    <tr>
				      <th scope="row">WARD {{ i[0] }}</th>
				      <td>{{ i[1] }}</td>
				      <td class="bg-warning">{{ i[2] }}</td>
				      <td class="bg-success">{{ i[3] }}</td>
				      <td><a href="/patient/{{ i[4] }}">{{ i[4] }}</a></td>
				    </tr>
				{% endfor %}
			    <!-- <tr>
			      <th scope="row"><a href="#patient">WARD b5</a></th>
			      <td>5</td>
			      <td class="bg-warning">9/10/19</td>
			      <td class="bg-success">23/10/19</td>
			      <td>Joshua Akangah</td>
			    </tr>
			    <tr>
			      <th scope="row"><a href="#patient">WARD b5</a></th>
			      <td>5</td>
			      <td class="bg-warning">9/10/19</td>
			      <td class="bg-success">23/10/19</td>
			      <td>Joshua Akangah</td>
			    </tr> -->
			  </tbody>
			</table>
	</body>
</html>
